<div class="container-xxl bg-white p-0">
  <div class="container-xxl position-relative p-0">
    <div class="container-xxl py-5 bg-dark hero-header mb-5" style="background-image: url('/images/home/bg-hero.jpg'); position: relative; z-index: 0">
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(15,23,43,0.88); z-index: -2;"></div>
      <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/categories">Menu</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>


  <!-- Contact Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
        <h1 class="mb-5">Contact For Any Query</h1>
      </div>
      <div class="row g-4">
        <div class="col-12">
          <div class="row gy-4">
            <div class="col-md-4">
              <h5 class="section-title ff-secondary fw-normal text-start text-primary">Booking</h5>
              <p><i class="fa fa-envelope-open text-primary me-2"></i>book@sunnyside.com</p>
            </div>
            <div class="col-md-4">
              <h5 class="section-title ff-secondary fw-normal text-start text-primary">General</h5>
              <p><i class="fa fa-envelope-open text-primary me-2"></i>info@sunnyside.com</p>
            </div>
            <div class="col-md-4">
              <h5 class="section-title ff-secondary fw-normal text-start text-primary">Technical</h5>
              <p><i class="fa fa-envelope-open text-primary me-2"></i>tech@sunnyside.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
          <iframe class="position-relative rounded w-100 h-100"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190949.14426831405!2d32.032972671946075!3d49.43318189922917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d62556c8e2ec47%3A0xf0167f9c83e1242d!2sCherkasy%2C%20Cherkasy%20Oblast%2C%20Ukraine!5e0!3m2!1sen!2sus!4v1620131702289!5m2!1sen!2sus"
                  frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                  tabindex="0"></iframe>
        </div>

        <div class="col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <form>
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                    <label for="name">Your Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                    <label for="email">Your Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                    <label for="subject">Subject</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                    <label for="message">Message</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->

  <!-- Footer Start -->
  <footer class="container-fluid bg-dark text-light pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-1">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
          <ul class="list-unstyled">
            <li><a class="text-light" href="#">About Us</a></li>
            <li><a class="text-light" href="#">Contact Us</a></li>
            <li><a class="text-light" href="#">Reservation</a></li>
            <li><a class="text-light" href="#">Privacy Policy</a></li>
            <li><a class="text-light" href="#">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
          <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Shevchenko Blvd, Cherkasy</p>
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+380 55 115 5115</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@sunnyside.com</p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social me-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social me-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social me-2" href="#"><i class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
          <p class="mb-2">Monday - Saturday</p>
          <p class="mb-4">09AM - 09PM</p>
          <p class="mb-2">Sunday</p>
          <p>10AM - 08PM</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
          <p class="mb-4">Subscribe to our newsletter for updates</p>
          <div class="position-relative mx-auto" style="max-width: 300px;">
            <%= link_to "Sing Up", sign_up_path, class: "btn btn-primary w-100 py-2 position-absolute top-0 end-0" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="text-light" href="https://github.com/ItsRegby">https://github.com/ItsRegby</a>, All Rights Reserved.
          Designed By <a class="text-light" href="https://github.com/ItsRegby">Regby</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a class="text-light me-3" href="#">Home</a>
            <a class="text-light me-3" href="#">Cookies</a>
            <a class="text-light me-3" href="#">Help</a>
            <a class="text-light" href="#">FAQs</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>